* {margin:0;padding:0}
body {background:#fff;font-size:12pt;font-family:Verdana, Arial, Helvetica, sans-serif}
table {width:75%; border-collapse:collapse; table-layout:fixed}
table tr td {border:solid 1px #ccc; padding:10px}
h1 {color:#039; margin:0.5em 0;}
h2 {color:#36c; margin:0.5em 0;}
h3 {color:#36c; margin:0.5em 0;}